{{!-- For each application, grab the appropriate info and insert into a card, list, accordion, etc to display on the page  --}}

<div class="card" id = "application-card">
<a href="/application/{{id}}"></a>
  <h5 class="card-header">{{company_name}}</h5>
  <div class="card-body">
    <h5 class="card-title">{{role}}</h5>
    <p class="card-text"><a href="{{job_url}}">{{job_url}}</a></p>
    <div class="select is-rounded">
  <label for="statusSel">Status:</label>
  <select onchange = "updateAppStatus" class=".is-arrowless" id="statusSel">
    <option> {{application_status}}</option>
    <option value="Application submitted, awaiting a response">Application submitted, await a response</option>
    <option value="Prep for Phone Interview">Prep for Phone Interview</option>
    <option value="Phone Interview Complete">Phone Interview Complete</option>
    <option value="Prep for Onsite Interview">Prep for Onsite Interview</option>
    <option value="Onsite Interview Complete">Onsite Interview Complete</option>
    <option value="Prep for Proficiency Test">Prep for Proficiency Test</option>
    <option value="Passed Proficiency Test">Passed Proficiency Test</option>
    <option value="Failed Proficiency Test">Failed Proficiency Test</option>
    <option value="Offer Received">Offer Received</option>
    <option value="Accepted Offer">Accepted Offer</option>
    <option value="Declined Offer">Declined Offer</option>
  </select>
</div> <br>
    <button type="edit-interview" value = {{id}} class="btn btn-primary edit-interview">Edit Interview</button>
    <button type="edit-test" value = {{id}} class="btn btn-primary edit-interview">Edit Test</button>
    <button type="delete" value = {{id}} class="btn btn-primary delete">Delete</button>
  </div>
  <div class="card-footer text-muted">
    Submission Date: {{format_time submission_date}}
  </div>
</a>
</div>