<h1>{{userInfo.first_name}} {{userInfo.last_name}}'s Profile</h1>

<container class="userInfo">
  <img src={{userInfo.image_url}} class="img-thumbnail" id="profilePicture" alt="User Profile Picture">

  <br><br><br>

  <form action="/single" method="POST" enctype="multipart/form-data">
    <input type="file" name='image' />
    <button type="submit">Submit</button>
  </form>

  <br>

  <container class="mb-3">
    <div class="mb-3">
      <label for="formFile" class="form-label"> Resumes </label>
      <input class="form-control" type="file" id="formFile">
      <img src={{resume_url}} class="img-thumbnail" id="profilePicture" alt="Resume Image">
    </div>

    <br>

    <div class="mb-3">
      <label for="formFile" class="form-label"> Cover Letters </label>
      <input class="form-control" type="file" id="formFile">
      <img src={{coverletter_url}} class="img-thumbnail" id="profilePicture" alt="Cover Letter Image">
    </div>

    <br>

    <div class="mb-3">
      <label for="formFile" class="form-label"> Thank You Notes </label>
      <input class="form-control" type="file" id="formFile">
      <img src={{thankyounote_url}} class="img-thumbnail" id="profilePicture" alt="Thank Yoou Image">
    </div>
  </container>

</container>


<br><br>