<h1>{{userInfo.first_name}} {{userInfo.last_name}}'s Profile</h1>

<container class="userInfo">
  <img src={{userInfo.image_url}} class="img-thumbnail" id="profilePicture" alt="User Profile Picture">

  <br><br><br>


  {{!-- Profile Picture Upload --}}
  <div class="mb-3">
    <form action="/single" method="POST" enctype="multipart/form-data">
      <input type="file" name='image' />
      <button type="submit">Submit</button>
    </form>
  </div>

  {{!-- Resume Upload --}}
  <div class="mb-3">
    <form action="/resume" method="POST" enctype="multipart/form-data">
      <input type="file" name='resume' />
      <button type="submit">Submit</button>
    </form>
    <img src={{userInfo.resume_url}} class="img-thumbnail" id="profilePicture" alt="Resume Image">
  </div>


  {{!-- Cover Letter Upload --}}
  <div class="mb-3">
    <form action="/single" method="POST" enctype="multipart/form-data">
      <input type="file" name='image' />
      <button type="submit">Submit</button>
    </form>
    <img src={{userInfo.coverletter_url}} class="img-thumbnail" id="profilePicture" alt="Cover Letter Image">
  </div>


  {{!-- User Info Upload --}}
  <div class="mb-3">
    <form action="/single" method="POST" enctype="multipart/form-data">
      <input type="file" name='image' />
      <button type="submit">Submit</button>
    </form>
    <img src={{userInfo.thankyounote_url}} class="img-thumbnail" id="profilePicture" alt="Thank You Image">
  </div>

</container>


<br><br>